@use "../css/variables.module" as *;

.hidewhiteboard {
  .tool-popover-content {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
    gap: 0.25rem;
    min-width: 9.5rem;
    border-radius: 0.5rem;
    background: var(--island-bg-color);
    box-shadow: var(--shadow-island);
    padding: 0.5rem;
    z-index: var(--zIndex-layerUI);
  }

  &:focus {
    outline: none;
  }
}
